<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>

<h2 style = "text-align: center;">Product Form</h2>

      {% for message in form.username.error %}
         <div>{{ message }}</div>
      {% endfor %}



      <form  method = "post">
         <fieldset>
            <legend>Product Form</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.name.label }}<br>
               {{ form.name }}
               <br>


               {{ form.description.label }}<br>
               {{ form.description }}
               <br>


               {{ form.category.label }}<br>
               {{ form.category }}
               <br>



               {{ form.submit }}
            </div>

         </fieldset>
      </form>
</body>
</html>